        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Inter', 'Segoe UI', sans-serif;
            background: #5582b9;
            color: #030f33;
            line-height: 1.6;
        }

        .cv-logo {
            font-weight: 600;
            font-size: 1.5em;
            font-family: 'Times New Roman', Times, serif;
            background: linear-gradient(180deg, #7596a0, #4b286b);
            color: #c6cee9;
            border-radius: 5px;
        }
        .cv-container {
            padding: 50px;
            color: #19437a;
            border-radius: 50px;
            background-color: beige;
                  
        }
        .intro-subtitle{
            color: #2e574d;
            font-size: 1.6em;
            margin-bottom: 200px;
            margin: 0px;
            line-height: 2.5;

        }
        .intro-name {
        
            font-size: 3.5em;
            font-weight: 700;
            color: #6f9cd8;
            margin-bottom: 10px;
            line-height: 1.2;
        }
        .intro-img{
            margin-top: 40px;
        }
        .img-wrapp {
            width: 350px;
            height: 450px;
            border-radius: 40px;
            padding: 5px;
            margin-left: 900px;
            margin-top: -260px;
            margin: flex;
            background: linear-gradient(180deg, #00bfff, #8a2be2);
        }
           .img-wrapper img {
            width: 350px;
            height: 450px;
            object-fit: cover;
            border-radius: 40px;
            margin-left: 900px;
            margin-top: -260px;
        }
        

            
            
